body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;
    background-color: #efefef}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: #151515;
    height: 1px;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #000000;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #000000;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position: fixed;
    top: 20px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {

    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 100;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:3em;
    text-align:center;
    z-index:1200;
    -webkit-animation:fadein 4.2s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation:  fadein 4.2s ease; /* Firefox < 16 */
    -o-animation:  fadein 4.2s ease; /* Opera < 12.1 */
    animation: fadein 4.2s ease;
}
.under{
    text-align:center;
    font-size:1.5em;
    margin-top:-50px;
    font-family: 'Lora', serif;
    -webkit-animation:fadein 6s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation:  fadein 6s ease; /* Firefox < 16 */
    -o-animation:  fadein 6s ease; /* Opera < 12.1 */
    animation: fadein 6s ease;
    margin-bottom:20px;
}
.caption {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size:2em;
    letter-spacing:2px;
    text-align:center;
    z-index:1200;
    -webkit-animation:fadein 4.5s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation:  fadein 4.5s ease; /* Firefox < 16 */
    -o-animation:  fadein 4.5s ease; /* Opera < 12.1 */
    animation: fadein 4.5s ease;
    margin-bottom: 18px;
}


@keyframes fadein2 {
    0% { opacity: 0; }
    50%{opacity: 0; }
    100% { opacity: 1; }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#login{
    font-weight:600;
    padding-top:25px;
    padding-right: 65px;
    position:absolute;
    font-size: 1.5em;
    top:0;
    right:0;
}

#login .icon2 {
    position: relative;
    top: 0%;
    left: 58%;
    margin-left: 0px;
    z-index: 1;
}



#email{
    font-weight:600;
    padding-top:24px;
    padding-right: 90px;
    position:absolute;
    font-size: 1.5em;
    top:0;
    right:0;
}


#image{
    margin-left:250px;
}

.smaller {
    margin-top: 25px;
    margin-left: 25px;
    float: left;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: 350px;
    height: 400px;

}
#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 4;
    -webkit-column-gap:   5px;
    -moz-column-count:    4;
    -moz-column-gap:      5px;
    column-count:         4;
    column-gap:           5px;
    -webkit-animation:fadein2 3.5s ease; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation:  fadein2 3.5s ease; /* Firefox < 16 */
    -o-animation:  fadein2 3.5s ease; /* Opera < 12.1 */
    animation: fadein2 3.5s ease;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    padding-bottom: 2px;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}

body {
    margin: 0;
    padding: 0;
}

.no-bullets {
    list-style-type: none;
}

ul {
    /*!*display: block;*!*/
    /*margin: auto;*/
    /*width: 60%;*/
    text-align:center;
    margin-right:49px;
}


.fade{
    opacity:0;
}
li{
    margin-top:10px;
}

.end{
    text-align:center;
    color: #595656;
    font-family: 'Lora', serif;
    font-size: 20px;
    letter-spacing:5px;
}

.leftend{
    padding-left:30px;
    color: #595656;
    position:absolute;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    /*letter-spacing:1px;*/
}

a{
    text-decoration:none;
    color: #484545;
}

a:hover{
    text-decoration: none;
    color:black;
}

.rightend{
    /*padding-left: 90px;*/
    color: #595656;
    font-family: 'Lora', serif;
    /*font-size: 20px;*/
    /*letter-spacing:2px;*/
    padding-right: 40px;
    position:absolute;
    font-size: 1.2em;
    /*top:0;*/
    right:0;
}

.about img{
    max-height:300px;
    padding-left:200px;
    padding-right:20px;
margin-bottom:40px;
}

.about{
    font-family: 'Open Sans', sans-serif;
    font-size:1.4em;
    padding-right:40px;
    margin-right:25px;

}


/*ul, li {*/
    /*list-style: none;*/
    /*display: inline;*/
/*}*/

